/*
Paleta de cor:

Primaria: #0d2a4a
Secundária: #43627f
Detalhes: #a4bad2
Texto: #dce3ed

*/


* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;

    color: #dce3ed;
}

body {
    background-color: #0d2a4a;

    margin-left: 20px;
}

.container-pagina {


}

hr {
    border-color: #a4bad2;
}

.tabelas-componentes {
    display: flex;
}
h3 {
    display: flex;
    padding: 0;
}
svg {
    padding-left: 4px;
    cursor: pointer;
}

.span-componentes {
    margin: 15px 15px 0 0;
}

.span-componentes h3 {
    font-size: 1.4rem;  
}


.tabela-geral {

    width: max-content;
    margin-top: 10px;
    
    
    background-color: #43627f;
}

.tabela-geral tbody {
    visibility: visible;
}

.tabela-geral, .tabela-geral th, td {
    padding: 4px;
    text-align: center;

    border: 1px solid #a4bad2;
    border-collapse: collapse;

}

.tabela-processador tbody tr:hover, .tabela-placa-mae tbody tr:hover {
    cursor: pointer;

    background-color: rgb(61, 81, 117);

}

.tabela-geral thead {
    cursor: pointer;

    background-color: #000f80;
}

.tabela-geral thead:hover {
    cursor: pointer;

    background-color: #000853;
}


.item-ativo {
    background-color: rgb(61, 81, 117);
}