* {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

    color: #fff;
}

body {
    background-color: rgb(8, 8, 87);

    margin-left: 20px;
}

.tabela-geral {

    width: max-content;
    margin-top: 20px;

    
    background-color: rgb(152, 187, 252);
}

.tabela-geral tbody {
    visibility: visible;
}

.tabela-geral, .tabela-geral th, td {
    padding: 4px;
    text-align: center;

    border: 2px solid rgb(225, 0, 255);
    border-collapse: collapse;


    color: aliceblue;

}

.tabela-processador tbody tr:hover, .tabela-placa-mae tbody tr:hover {
    cursor: pointer;

    background-color: rgb(61, 81, 117);

}

.tabela-geral thead {
    cursor: pointer;

    background-color: #000f80;
}

.tabela-geral thead:hover {
    cursor: pointer;

    background-color: #000853;
}


.item-ativo {
    background-color: rgb(61, 81, 117);
}